/* Body Style */
p {
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(252,242,247);
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
}

.w-100 {
    width: 100%;
}

.showEl {
    display: flex;
}

.hideEl {
    display: none;
}

.wrap-content {
  white-space: nowrap; 
  width: 100%; 
  overflow: hidden;
  text-overflow: ellipsis; 
}

.hero-title-primary {
    font-family: 'Playfair Display', serif;
}
/* Header Style */

.logo-img {
    height: 40px;
}

/* Hero Style */
.hero-container {
    min-height: 600px;
    background-image: url(../images/hero-background.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    /* opacity: 0.8; */
}

.search-container {
    padding: 50px 20px;
    background: rgba(0,0,0,0.4);
    border-radius: 15px;
}

.form-container {
    margin: auto;
    padding: 20px 20px;
}

.hero-title-subs {
    color: white;
}

.hero-title-primary {
    color: white;
    font-size: 50px;
}

.control  {
    width: 100%;
    padding: 0;
}

/* Main Section Style */

.covid-stat-container {
    padding: 2.5rem 1.5rem;
    margin: 30px 5px;
}

.total-cases {
    border: 1px solid  #ffb429;
}

.total-cases .stats-count {
    color:#ffb429;
}

.total-deaths {
    border: 1px solid  #ff7373;
}

.total-deaths .stats-count {
    color: #ff7373;
}

.total-recovered {
    border: 1px solid #3bca6cbf;
}

.total-recovered .stats-count {
    color: #3bca6cbf;
}

.title-container {
    width: fit-content;
    margin: auto;
}

.sub-heading {
    border-top: 1px solid grey;
}

.stats-count {
    font-size: 30px;
}

.img-container {
    background-image: url(https://picsum.photos/200/300);
    min-height: 120px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px 5px 0px 0px;
    padding: 15px;
}

.event-container {
    min-width: 250px;
    border-radius: 5px;
    margin: 10px 10px;
}

.show-more-button {
    min-width: 200px;
    margin: auto;
}

/* Card Style */
.open-status {
    background-color: white;
    border-radius: 5px;
    padding: 5px 10px;
    width: fit-content;
    box-shadow: 0 0 2px grey;
}

.store-details {
    flex-direction: column;
    justify-content: flex-end;
    padding: 10px;
    min-height: fit-content;
    box-shadow: 0px -3px 5px rgb(50 50 50 / 5%);
    font-size: 0.9rem;
}

.store-details a {
    color: #222;
}

.store-details a:hover {
    color: #cc0f35;
}

.stats-count {
    font-size: 30px;
}

.busStatus {
    font-size: 12px;
    padding: 2px 4px;
    color: white;
    border-radius: 5px;
}

.bg-red {
    background: #fd6c6c;;
}

.bg-green {
    background: rgb(14, 179, 69);
}

.open-status {
    text-align: center;
}

.busStatus {
    width: fit-content;
}

.ratingNumb {
    background-color: white;
    border-radius: 5px;
    padding: 5px 10px;
    width: fit-content;
    box-shadow: 0 0 2px grey;
    height: 33px;
}

.ratingNumbIcon{
    color: rgb(248,183,4);
}

.linkImage {
    color: #222;
}

@media only screen and (max-width: 1300px) {
    .form-container {
        width: 100%;
    }

}

@media only screen and (max-width: 1024px) {
    .main-container {
        margin: 1rem;
    }

}

@media only screen and (max-width: 880px) {
    .section-container {
        margin-left: 1rem;
        margin-right: 1rem;
    }
    .hero-container {
        background-position: right; 
    }
    .hero-title-primary {
        font-size: 2rem;
    }

    .hero-title-subs {
        font-size: 1.5rem;
    }

    .form-container {
        flex-direction: column;
    }

    .search-button {
        margin-top: 20px;
        margin-right: 0;
    }

    .control {
        margin: 5px;
    }

    select {
        margin-left: 5px;
        min-width: 100%;
    }

    .select {
        margin-top: 5px;
        margin-bottom: 5px;
    }

    /* .covid-stat-container {
        margin: 15px 5px;
    } */


  }

  @media only screen and (max-width: 540px) {
    .event-container {
        margin-right: 0 !important;
        margin-left: 0 !important;
        margin-top: 20px;
    }
  }